* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: rgb(235, 229, 229);
}

main {
  min-height: calc(100vh - 160px);
}

